$colors: (
  tronLightBlue: #a1fefe,
  tronDarkBlue: #004242,
  white: #ffffff,
  black: #000000,
  purple: #5558fa,
  green: #07e897,
  whiteOverlay: rgba(255, 255, 255, 0.5),
  blackOverlay: rgba(0, 0, 0, 0.15),
);
